@import url('/src/style/components/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {

    position: relative;
    margin: 0;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    
}

/* ----------------- SCROLL ----------------- */

*::-webkit-scrollbar {

    width: 4px;

}

/* ------------------ RESET ------------------ */

input:not([type="checkbox"]), button, textarea, a {

    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

button, a {

    transition: all var(--tempo-transicao-padrao);
    cursor: pointer;

}

/* -------------------------------------------- */

.main_container {

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20rem auto;
    grid-template-rows: 6.25rem auto;
    padding-bottom: 6.25rem;
    background-color: var(--cor-roxo-claro);

}

.main_container > .container_topo {

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    grid-column-start: 2; 
    grid-column-end: -1;
    background-color: var(--cor-branco-padrao);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .25);
    padding: 0 2.3em 0 4.15em;

}

.main_container > .container_navegacao {
    
    display: grid;
    grid-template-rows: repeat(2, min-content) 2fr min-content;
    grid-row-start: 1; 
    grid-row-end: 3; 
    background-color: var(--cor-branco-padrao);
    filter: drop-shadow(-2px 0px 10px rgba(0, 0, 0, .25));
    border-radius: 0 0 22px 0;

}

.container_topo .bloco_pesquisa {

    display: flex;
    align-items: center;
    width: 70%;
    max-width: 28.75em;
    min-width: 10em;
    height: 2.5em;
    padding-left: 6px;
    border-radius: 8px;
    border: 1px solid rgba(58, 65, 73, .6);
    opacity: 0.5;
    background: rgba(217, 217, 217, 0);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .15);

}

.bloco_pesquisa input {
    
    font-size: 1em;
    color: rgba(58, 65, 73, .35);
    width: 100%;

}

.bloco_pesquisa svg{

    margin-right: 4px;

}

.bloco_periodo{
   
    position: relative;
    line-height: 100%;
}

.bloco_periodo .bloco_select {

    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    width: 240px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(58, 65, 73, .6);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .5);
    opacity: .5;

}

.bloco_periodo span{
    
    display: flex;
    font-size: .95em;
    margin-left: 6px;
    
}

.itens_select{
    display: grid;
    gap: 11px;
    position: absolute;
    top: 46px;
    border-radius: 8px;
    background: var(--cor-roxo-claro);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
    padding: 15px  10px;
}

.itens_select li{
    width: 100%;
    padding: 0 0 0 10px;
    color: #858990;
    display: flex;

}

.itens_select .selecao{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    width: 225px;
    height: 20px;
    color: var(--cor-azul-padrao);
    background: rgba(217, 217, 217, .25);
}


.icone_txt_select, .cont_adicionais {

    display: flex;
    align-items: center;
    width: 100%;

}

.cont_adicionais {

    gap: 3.75em;

}

.bloco_lateral {

    display: flex;
    align-items: center;
    gap: 2.3em;

}

.bloco_usuario {

    display: flex;
    align-items: center;
    gap: .8em;
    width: 100%;

}

.bloco_usuario figure {
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--cor-azul-claro);
    
}

.bloco_usuario span {

    font-size: 1.25em;
    font-weight: 500;
    white-space: nowrap;
    color: var(--cor-azul-padrao);
    
}

.bloco_informacao {
    right: 140px;
    position: absolute;
    width: 394px;
    height: 387px;
    border-radius: 0px 0px 8px 8px;
    background-color: #F6F5FB;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    margin-top: 10px;
}

.Titulo h1{
    white-space: nowrap;
    font-size: 1.25em;
    margin-top: 15px;
    right: 170px;
    position: absolute; 
    color: #3A4149;


}

.bloco_tipo{


    
}















/* -------------- NAVEGAÇÃO LATERAL -------------- */

.container_navegacao .bloco_identidade {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6.25rem;

}

.container_navegacao .bloco_identidade h1 {

    font-size: 1.25rem;
    color: #989898;
    font-weight: 600;

}

.container_navegacao .border {

    height: 1px;
    width: 80%;
    margin: 0 auto;
    background: #CCC;
    
}

.container_navegacao .bloco_navegacao {

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2em;
    margin-top: 3.8em;
    max-height: max-content;

}

.container_navegacao .caixa_selecao {

    display: flex;
    align-items: center;
    gap: 1.4em;
    padding-left: 2em;
    width: 100%;
    height: 4em;
    transition: all var(--tempo-transicao-padrao);

}

.caixa_selecao > * {
    
    transition: transform .8s;
    cursor: pointer;

}

.caixa_selecao:hover > * {

    transform: translateX(20px);

}

.container_navegacao .caixa_selecao svg path {

    stroke-opacity: .6;
    fill-opacity: .6;

}

.container_navegacao .caixa_selecao h2 {

    font-size: 1.56em;
    color: var(--cor-azul-claro);

}

.container_navegacao .caixa_selecao.sair svg path {

    stroke: rgba(122, 0, 0, .5);

}

.container_navegacao .caixa_selecao.sair h2 {

    color: rgba(122, 0, 0, .5);

}

.container_navegacao .caixa_selecao.sair:hover svg path {

    stroke: rgba(122, 0, 0, 1);

}

.container_navegacao .caixa_selecao.sair:hover h2 {

    color: rgba(122, 0, 0, .75);

}

.bloco_dr {

    display: flex;
    justify-content: center;
    width: 100%;
    height: min-content;
    margin-bottom: 1.8em;

}

.bloco_dr p {

    font-size: .94em;
    color: rgba(0, 0, 0, .50);

}

.container_navegacao .caixa_selecao.selecinado {

    background: rgba(246, 245, 250, .2);
    border-top: 1px solid rgba(58, 65, 73, .25);
    border-bottom: 1px solid rgba(58, 65, 73, .25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);

}

.container_navegacao .caixa_selecao.selecinado svg path {

    stroke-opacity: 1;
    fill-opacity: 1;

}

.container_navegacao .caixa_selecao.selecinado h2 {

    color: var(--cor-azul-padrao);

}

/* ----------------------------------------------- */