@import url('/src/style/components/variables.css');

body {

    position: relative;
    margin: 0;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    
}


/* ----------------- SCROLL ----------------- */

*::-webkit-scrollbar {

    width: 4px;

}

/* ------------------ RESET ------------------ */

input, button, textarea, a {

    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

button, a {

    transition: all var(--transition-time);
    cursor: pointer;

}

/* -------------------------------------------- */



/* -------------- ESTILO LOGIN -------------- */

.container_cadastro_login {

    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background: url(../assets/images/back-cl.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    color: var(--grey-color);
    position: relative;
    user-select: none;
    overflow: hidden;
    z-index: 1;
        
}

.bloco_telas_iniciais {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    width: 40vw;
    height: 100%;
    background-color: var(--white-color);

}

.bloco_telas_iniciais .Titulo h1 {

    text-align: center;
    color: var(--grey-color);
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: .075rem;

}

.bloco_telas_iniciais .container_inicial {

    display: grid;
    gap: 6.4rem;
    min-width: 60%;
    height: min-content;
        
}

.bloco_inputs_inicial {

    height: min-content;
    display: grid;
    gap: 1.8rem;
        
}

.estilo_input_inicial {

    width: 100%;
    height: 3.6rem;
    background-color: transparent;
    border-radius: .25rem;
    border: 2px solid #3A4149;
    padding-left: 2.4rem;

}

.estilo_input_inicial input {

    font-size: 1.3rem;

}

.estilo_input_inicial input::placeholder {

    color: rgba(58, 65, 73, 0.60);
    letter-spacing: .061rem;

}

.bloco_botoes_inicial {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.bloco_botoes_inicial .btn_inicial {

    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--grey-color);
    background: var(--grey-color);
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    max-width: 70%;
    height: 3.6rem;

}

.bloco_botoes_inicial .btn_inicial:hover {

    color: var(--grey-color);
    background: transparent;

}

.bloco_botoes_inicial .btn_complementar {

    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.125rem;
    margin-top: .8rem;
    height: min-content;

}



/* -------------------------------------------- */